.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 20px 24px 96px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 20px 24px 96px;
  }
}
.navbar:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    position: relative;
  }
}
.top {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 70px;
  min-width: 0;
  padding: 8px;
}
.h2 {
  text-align: center;
  font-size: 24px;
  margin: 0px 0px 20px;
}
.freeBox___6OpaA {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  width: 1100px;
  height: auto;
  max-width: 100%;
  align-self: auto;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6OpaA {
    align-self: center;
  }
}
.searchStack {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  align-self: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
  left: auto;
  top: auto;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .searchStack {
    padding-left: 15px;
    height: auto;
    width: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 15px;
  }
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.searchBar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  padding-right: 45px;
  margin-right: 0px;
  width: 300px;
  flex-shrink: 0;
  border-radius: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .searchBar:global(.__wab_instance) {
    margin-right: 0px;
    width: 255px;
    padding-right: 0px;
    flex-shrink: 0;
  }
}
.freeBox__n0Gvc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.resources {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1100px;
  min-width: 0;
}
.resources > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.resources > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 20px) * 3 / 12);
}
.resources > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 20px) * 3 / 12);
}
.resources > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 20px) * 3 / 12);
}
.resources > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 20px) * 3 / 12);
}
.resources > :global(.__wab_flex-container) > *,
.resources > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.resources > :global(.__wab_flex-container) > picture > img,
.resources
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .resources {
    width: 100%;
    height: auto;
    flex-direction: row;
    align-self: center;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .resources > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .resources > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 20px) * 12 / 12);
  }
}
.column___9ENe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 8px;
}
.readingBox:global(.__wab_instance) {
  position: relative;
}
.column__cg4B5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column___1Q8Pp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column__qyjxw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___8HyRy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 100px;
  min-width: 0;
}
.footer:global(.__wab_instance) {
  position: relative;
}
