.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1100px;
  background: #e0e6fd;
  position: relative;
  min-width: 0;
  border-radius: 15px;
  padding: 30px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 5 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 7 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__xr3Yi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___9Xkiq {
  position: relative;
  object-fit: contain;
  max-width: 160px;
  align-self: flex-start;
  display: none !important;
}
.img___9Xkiq > picture > img {
  object-fit: contain;
}
.img___9Xkiq > .__wab_img-spacer > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___9Xkiq {
    align-self: center;
  }
}
.link {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #535353;
  font-weight: 900;
  font-size: 18px;
  align-self: flex-start;
}
.img__n0Mt4 {
  object-fit: contain;
  width: 40px;
  height: 40px;
  position: relative;
  margin-right: 10px;
  flex-shrink: 0;
  display: inline-block !important;
}
.img__n0Mt4 > picture > img {
  object-fit: contain;
}
.img__n0Mt4 > .__wab_img-spacer > img {
  object-fit: contain;
}
.text___0Tadp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 900;
  color: #535353;
  font-size: 24px;
  min-width: 0;
}
.freeBox__uzv0W {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__wdvem {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 16px;
  margin-top: 14px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wdvem {
    text-align: left;
  }
}
.copyright {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 15px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .copyright {
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;
    padding: 0px;
  }
}
.text__kSpaI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 200;
  font-size: 14px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kSpaI {
    text-align: left;
    align-self: auto;
  }
}
.column__dht0N {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___1GtTa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.footerLinks__vYslc:global(.__wab_instance) {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.footerLinks__wcwFc:global(.__wab_instance) {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.footerLinks__gp0Tv:global(.__wab_instance) {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.footerLinks__cFnym:global(.__wab_instance) {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
