.link {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 265px;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  position: relative;
  min-height: 300px;
  cursor: pointer;
  color: #535353;
  border-style: none;
}
.freeBox__rcX43 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 207px;
  width: 265px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__rGfKx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__bSt2B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetTitle {
  font-size: 1.3em;
  font-weight: 900;
}
.description {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 300;
  font-size: 0.8em;
  min-width: 0;
}
