.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 20px 24px 96px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 20px 24px 96px;
  }
}
.navbar:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    position: relative;
  }
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  min-height: 70vh;
  min-width: 0;
  padding: 8px;
}
.freeBox__tt59X {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1100px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.text__yYsQs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 48px;
  text-align: center;
  color: #535353;
  font-weight: 800;
  min-width: 0;
}
.columns__kVln {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 1100px;
  height: auto;
  flex-shrink: 1;
  padding: 8px;
}
.columns__kVln > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.columns__kVln > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 40px) * 5 / 12);
}
.columns__kVln > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 40px) * 7 / 12);
}
.columns__kVln > :global(.__wab_flex-container) > *,
.columns__kVln > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__kVln > :global(.__wab_flex-container) > picture > img,
.columns__kVln
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kVln {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kVln > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 40px);
    width: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kVln > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 40px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kVln > :global(.__wab_flex-container) > *,
  .columns__kVln > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__kVln > :global(.__wab_flex-container) > picture > img,
  .columns__kVln
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 40px;
  }
}
.column__aiGp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__zc8A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 60px;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zc8A {
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    font-size: 60px;
    min-width: 0;
  }
}
.h3 {
  margin-bottom: 16px;
  color: #535353;
  font-weight: 700;
}
.text__bUBif {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bUBif {
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
  }
}
.text__ic75H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 16px;
  align-self: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ic75H {
    text-align: center;
  }
}
.text__rlnHa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rlnHa {
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    font-weight: 700;
    min-width: 0;
  }
}
.text__snc2K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__snc2K {
    text-align: center;
  }
}
.text__dQDs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dQDs {
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    font-weight: 700;
    min-width: 0;
  }
}
.column__a6JuX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__nBKhj {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  max-height: 600px;
}
.img__nBKhj > picture > img {
  object-fit: contain;
}
.img__nBKhj > .__wab_img-spacer > img {
  object-fit: contain;
}
.checklist {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___1XgPq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 48px;
  text-align: center;
  max-height: 48px;
  color: #535353;
  font-weight: 800;
  min-width: 0;
}
.freeBox__lzeUs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__v4G {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1100px;
  height: auto;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v4G {
    width: 100%;
    min-width: 0;
  }
}
.columns__oonOe {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 1100px;
  height: auto;
  flex-shrink: 1;
  padding: 8px;
}
.columns__oonOe > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.columns__oonOe > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__oonOe > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__oonOe > :global(.__wab_flex-container) > *,
.columns__oonOe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__oonOe > :global(.__wab_flex-container) > picture > img,
.columns__oonOe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oonOe {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oonOe > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 40px);
    width: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oonOe > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 40px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oonOe > :global(.__wab_flex-container) > *,
  .columns__oonOe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__oonOe > :global(.__wab_flex-container) > picture > img,
  .columns__oonOe
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 40px;
  }
}
.column__ftlu6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__qnDnf {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__qnDnf > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__qnDnf > :global(.__wab_flex-container) > *,
.freeBox__qnDnf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qnDnf > :global(.__wab_flex-container) > picture > img,
.freeBox__qnDnf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.img__ts3Gu {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 300px;
  max-height: 280px;
}
.img__ts3Gu > picture > img {
  object-fit: contain;
}
.img__ts3Gu > .__wab_img-spacer > img {
  object-fit: contain;
}
.img__lPx9Q {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 300px;
  max-height: 280px;
}
.img__lPx9Q > picture > img {
  object-fit: contain;
}
.img__lPx9Q > .__wab_img-spacer > img {
  object-fit: contain;
}
.img__emtTu {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 300px;
  max-height: 280px;
}
.img__emtTu > picture > img {
  object-fit: contain;
}
.img__emtTu > .__wab_img-spacer > img {
  object-fit: contain;
}
.column__tLa1Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox___6Uajn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___1HTdo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 16px;
  color: #535353;
  font-size: 1.5em;
  align-self: flex-start;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___1HTdo {
    text-align: center;
  }
}
.text__i78IF {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  background: #577ef5;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 12px;
}
.cta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
