.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 20px 24px 96px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 20px 24px 96px;
  }
}
.navbar:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    position: relative;
  }
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  min-height: 70vh;
  margin-top: 70px;
  min-width: 0;
  padding: 8px;
}
.freeBox__tt59X {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1100px;
  height: auto;
  max-width: 100%;
  margin-bottom: 100px;
  padding: 8px;
}
.text__yYsQs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 48px;
  text-align: center;
  color: #000000;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 18px;
  min-width: 0;
}
.text__loU4D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  min-width: 0;
}
.httpscodaiostackInputtheSmbChecklist3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  background: #577ef5;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  align-self: center;
  border-radius: 12px;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 1100px;
  height: auto;
  flex-shrink: 1;
  padding: 8px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  margin-left: calc(0px - 80px);
  width: calc(100% + 80px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 80px) * 5 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 80px) * 7 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 40px);
    width: calc(100% + 40px);
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 40px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 40px;
    margin-top: 40px;
  }
}
.column__aiGp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h3 {
  margin-bottom: 16px;
  color: #535353;
  font-weight: 900;
  font-size: 24px;
}
.text__dx7Tu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___5P89 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  min-width: 0;
}
.text__bw9Pg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 10px;
  min-width: 0;
}
.text__wlAxr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  min-width: 0;
}
.text___4XFe2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 10px;
  min-width: 0;
}
.text__i6UFe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  min-width: 0;
}
.column__a6JuX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.httpscodaiostackInputtheSmbChecklist {
  position: relative;
  display: flex;
}
.img__nBKhj {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  max-height: 600px;
}
.img__nBKhj > picture > img {
  object-fit: contain;
}
.img__nBKhj > .__wab_img-spacer > img {
  object-fit: contain;
}
.checklist {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 70px;
  min-width: 0;
  padding: 8px;
}
.text___1XgPq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  text-align: center;
  max-height: 48px;
  color: #535353;
  font-weight: 800;
  min-width: 0;
}
.freeBox__lzeUs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 1100px;
  padding: 8px;
}
.freeBox__v4G {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1100px;
  height: auto;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v4G {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__qnDnf {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__qnDnf > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__qnDnf > :global(.__wab_flex-container) > *,
.freeBox__qnDnf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qnDnf > :global(.__wab_flex-container) > picture > img,
.freeBox__qnDnf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
  margin-top: 40px;
}
.img__ts3Gu {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 300px;
  max-height: 280px;
  flex-shrink: 0;
}
.img__ts3Gu > picture > img {
  object-fit: contain;
}
.img__ts3Gu > .__wab_img-spacer > img {
  object-fit: contain;
}
.img__lPx9Q {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 300px;
  max-height: 280px;
  flex-shrink: 0;
}
.img__lPx9Q > picture > img {
  object-fit: contain;
}
.img__lPx9Q > .__wab_img-spacer > img {
  object-fit: contain;
}
.img__emtTu {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 300px;
  max-height: 280px;
  flex-shrink: 0;
}
.img__emtTu > picture > img {
  object-fit: contain;
}
.img__emtTu > .__wab_img-spacer > img {
  object-fit: contain;
}
.freeBox___6Uajn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
  min-width: 0;
  padding: 8px;
}
.text___1HTdo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 16px;
  color: #535353;
  font-size: 16px;
  align-self: center;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___1HTdo {
    text-align: center;
  }
}
.httpscodaiostackInputtheSmbChecklist2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  background: #577ef5;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  align-self: center;
  border-radius: 12px;
}
.cta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
  margin-top: 80px;
}
