.root {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 1100px;
  min-height: 50vh;
  position: relative;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    min-height: auto;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 5 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 7 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___4Zv7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__m9WnC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 900;
  font-size: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__m9WnC {
    text-align: center;
  }
}
.text__wF05R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wF05R {
    text-align: center;
  }
}
.column__gijmH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__aCZh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__lcsfo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lcsfo {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.freeBox__odxnq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.firstName:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__dynjB {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__euKff {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___8BiqU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.lastName:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__e1K9O {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___4Xzq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__tum1G {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tum1G {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.freeBox__ouk6H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.email:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__wuqZt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__xj4Vn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__jjAmW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.companyName:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__kxMpJ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ekMew {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__jMqv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.contactButton:global(.__wab_instance) {
  position: relative;
}
