@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-FS5jVvv23cBU_font-family: "Inter";
  --mixin-FS5jVvv23cBU_font-size: 16px;
  --mixin-FS5jVvv23cBU_font-weight: 400;
  --mixin-FS5jVvv23cBU_font-style: normal;
  --mixin-FS5jVvv23cBU_color: #535353;
  --mixin-FS5jVvv23cBU_text-align: left;
  --mixin-FS5jVvv23cBU_text-transform: none;
  --mixin-FS5jVvv23cBU_line-height: 1.5;
  --mixin-FS5jVvv23cBU_letter-spacing: normal;
  --mixin-FS5jVvv23cBU_white-space: pre-wrap;
  --mixin-FS5jVvv23cBU_user-select: text;
  --mixin-FS5jVvv23cBU_text-decoration-line: none;
  --mixin-FS5jVvv23cBU_text-overflow: clip;
  --mixin-5POMEYpklkT5_color: #000000;
  --mixin-5POMEYpklkT5_font-weight: 900;
  --mixin-5POMEYpklkT5_font-size: 72px;
  --mixin-5POMEYpklkT5_line-height: 1;
  --mixin-5POMEYpklkT5_letter-spacing: -4px;
  --mixin-M3KK-lWHWiBD_font-family: "Inter";
  --mixin-M3KK-lWHWiBD_color: #000000;
  --mixin-M3KK-lWHWiBD_font-size: 48px;
  --mixin-M3KK-lWHWiBD_font-weight: 700;
  --mixin-M3KK-lWHWiBD_letter-spacing: -1px;
  --mixin-M3KK-lWHWiBD_line-height: 1.1;
  --mixin-NPVxBC47IXaU_color: #0070f3;
  --mixin-GGNOfX2trU_T_font-family: "Inter";
  --mixin-GGNOfX2trU_T_color: #000000;
  --mixin-GGNOfX2trU_T_font-size: 32px;
  --mixin-GGNOfX2trU_T_font-weight: 600;
  --mixin-GGNOfX2trU_T_letter-spacing: -0.8px;
  --mixin-GGNOfX2trU_T_line-height: 1.2;
  --mixin-NP9eFnHwGnt5_font-family: "Inter";
  --mixin-NP9eFnHwGnt5_color: #000000;
  --mixin-NP9eFnHwGnt5_font-size: 24px;
  --mixin-NP9eFnHwGnt5_font-weight: 600;
  --mixin-NP9eFnHwGnt5_letter-spacing: -0.5px;
  --mixin-NP9eFnHwGnt5_line-height: 1.3;
  --mixin-d9MmPgGp-dLc_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-d9MmPgGp-dLc_border-bottom-color: #dddddd;
  --mixin-d9MmPgGp-dLc_border-bottom-style: solid;
  --mixin-d9MmPgGp-dLc_border-bottom-width: 1px;
  --mixin-d9MmPgGp-dLc_border-left-color: #dddddd;
  --mixin-d9MmPgGp-dLc_border-left-style: solid;
  --mixin-d9MmPgGp-dLc_border-left-width: 1px;
  --mixin-d9MmPgGp-dLc_border-right-color: #dddddd;
  --mixin-d9MmPgGp-dLc_border-right-style: solid;
  --mixin-d9MmPgGp-dLc_border-right-width: 1px;
  --mixin-d9MmPgGp-dLc_border-top-color: #dddddd;
  --mixin-d9MmPgGp-dLc_border-top-style: solid;
  --mixin-d9MmPgGp-dLc_border-top-width: 1px;
  --mixin-d9MmPgGp-dLc_border-bottom-left-radius: 3px;
  --mixin-d9MmPgGp-dLc_border-bottom-right-radius: 3px;
  --mixin-d9MmPgGp-dLc_border-top-left-radius: 3px;
  --mixin-d9MmPgGp-dLc_border-top-right-radius: 3px;
  --mixin-d9MmPgGp-dLc_font-family: "Inconsolata";
  --mixin-d9MmPgGp-dLc_padding-bottom: 1px;
  --mixin-d9MmPgGp-dLc_padding-left: 4px;
  --mixin-d9MmPgGp-dLc_padding-right: 4px;
  --mixin-d9MmPgGp-dLc_padding-top: 1px;
  --mixin-e75EZxlJkP-4_border-left-color: #dddddd;
  --mixin-e75EZxlJkP-4_border-left-style: solid;
  --mixin-e75EZxlJkP-4_border-left-width: 3px;
  --mixin-e75EZxlJkP-4_color: #888888;
  --mixin-e75EZxlJkP-4_padding-left: 10px;
  --mixin-xazBfHo16DyI_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-xazBfHo16DyI_border-bottom-color: #dddddd;
  --mixin-xazBfHo16DyI_border-bottom-style: solid;
  --mixin-xazBfHo16DyI_border-bottom-width: 1px;
  --mixin-xazBfHo16DyI_border-left-color: #dddddd;
  --mixin-xazBfHo16DyI_border-left-style: solid;
  --mixin-xazBfHo16DyI_border-left-width: 1px;
  --mixin-xazBfHo16DyI_border-right-color: #dddddd;
  --mixin-xazBfHo16DyI_border-right-style: solid;
  --mixin-xazBfHo16DyI_border-right-width: 1px;
  --mixin-xazBfHo16DyI_border-top-color: #dddddd;
  --mixin-xazBfHo16DyI_border-top-style: solid;
  --mixin-xazBfHo16DyI_border-top-width: 1px;
  --mixin-xazBfHo16DyI_border-bottom-left-radius: 3px;
  --mixin-xazBfHo16DyI_border-bottom-right-radius: 3px;
  --mixin-xazBfHo16DyI_border-top-left-radius: 3px;
  --mixin-xazBfHo16DyI_border-top-right-radius: 3px;
  --mixin-xazBfHo16DyI_font-family: "Inconsolata";
  --mixin-xazBfHo16DyI_padding-bottom: 3px;
  --mixin-xazBfHo16DyI_padding-left: 6px;
  --mixin-xazBfHo16DyI_padding-right: 6px;
  --mixin-xazBfHo16DyI_padding-top: 3px;
  --mixin-cVCfZgnMrhIx_display: flex;
  --mixin-cVCfZgnMrhIx_flex-direction: column;
  --mixin-cVCfZgnMrhIx_align-items: stretch;
  --mixin-cVCfZgnMrhIx_justify-content: flex-start;
  --mixin-cVCfZgnMrhIx_list-style-position: outside;
  --mixin-cVCfZgnMrhIx_padding-left: 40px;
  --mixin-cVCfZgnMrhIx_position: relative;
  --mixin-cVCfZgnMrhIx_list-style-type: disc;
  --mixin-DUOL4aFeAYUli_display: flex;
  --mixin-DUOL4aFeAYUli_flex-direction: column;
  --mixin-DUOL4aFeAYUli_align-items: stretch;
  --mixin-DUOL4aFeAYUli_justify-content: flex-start;
  --mixin-DUOL4aFeAYUli_list-style-position: outside;
  --mixin-DUOL4aFeAYUli_padding-left: 40px;
  --mixin-DUOL4aFeAYUli_position: relative;
  --mixin-DUOL4aFeAYUli_list-style-type: decimal;
  --mixin-U--laBH-2NxI8_font-family: "Inter";
  --mixin-U--laBH-2NxI8_color: #000000;
  --mixin-U--laBH-2NxI8_font-size: 20px;
  --mixin-U--laBH-2NxI8_font-weight: 600;
  --mixin-U--laBH-2NxI8_letter-spacing: -0.3px;
  --mixin-U--laBH-2NxI8_line-height: 1.5;
  --mixin-WTVU_dorvFOQI_font-family: "Inter";
  --mixin-WTVU_dorvFOQI_color: #000000;
  --mixin-WTVU_dorvFOQI_font-size: 16px;
  --mixin-WTVU_dorvFOQI_font-weight: 600;
  --mixin-WTVU_dorvFOQI_line-height: 1.5;
  --mixin-M4F3MaMi5Z2ng_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-FS5jVvv23cBU_font-family);
  font-size: var(--mixin-FS5jVvv23cBU_font-size);
  font-weight: var(--mixin-FS5jVvv23cBU_font-weight);
  font-style: var(--mixin-FS5jVvv23cBU_font-style);
  color: var(--mixin-FS5jVvv23cBU_color);
  text-align: var(--mixin-FS5jVvv23cBU_text-align);
  text-transform: var(--mixin-FS5jVvv23cBU_text-transform);
  line-height: var(--mixin-FS5jVvv23cBU_line-height);
  letter-spacing: var(--mixin-FS5jVvv23cBU_letter-spacing);
  white-space: var(--mixin-FS5jVvv23cBU_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-5POMEYpklkT5_color);
  font-weight: var(--mixin-5POMEYpklkT5_font-weight);
  font-size: var(--mixin-5POMEYpklkT5_font-size);
  line-height: var(--mixin-5POMEYpklkT5_line-height);
  letter-spacing: var(--mixin-5POMEYpklkT5_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-M3KK-lWHWiBD_font-family);
  color: var(--mixin-M3KK-lWHWiBD_color);
  font-size: var(--mixin-M3KK-lWHWiBD_font-size);
  font-weight: var(--mixin-M3KK-lWHWiBD_font-weight);
  letter-spacing: var(--mixin-M3KK-lWHWiBD_letter-spacing);
  line-height: var(--mixin-M3KK-lWHWiBD_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-NPVxBC47IXaU_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-GGNOfX2trU_T_font-family);
  color: var(--mixin-GGNOfX2trU_T_color);
  font-size: var(--mixin-GGNOfX2trU_T_font-size);
  font-weight: var(--mixin-GGNOfX2trU_T_font-weight);
  letter-spacing: var(--mixin-GGNOfX2trU_T_letter-spacing);
  line-height: var(--mixin-GGNOfX2trU_T_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-NP9eFnHwGnt5_font-family);
  color: var(--mixin-NP9eFnHwGnt5_color);
  font-size: var(--mixin-NP9eFnHwGnt5_font-size);
  font-weight: var(--mixin-NP9eFnHwGnt5_font-weight);
  letter-spacing: var(--mixin-NP9eFnHwGnt5_letter-spacing);
  line-height: var(--mixin-NP9eFnHwGnt5_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-d9MmPgGp-dLc_background);
  font-family: var(--mixin-d9MmPgGp-dLc_font-family);
  border-radius: var(--mixin-d9MmPgGp-dLc_border-top-left-radius)
    var(--mixin-d9MmPgGp-dLc_border-top-right-radius)
    var(--mixin-d9MmPgGp-dLc_border-bottom-right-radius)
    var(--mixin-d9MmPgGp-dLc_border-bottom-left-radius);
  padding: var(--mixin-d9MmPgGp-dLc_padding-top)
    var(--mixin-d9MmPgGp-dLc_padding-right)
    var(--mixin-d9MmPgGp-dLc_padding-bottom)
    var(--mixin-d9MmPgGp-dLc_padding-left);
  border-top: var(--mixin-d9MmPgGp-dLc_border-top-width)
    var(--mixin-d9MmPgGp-dLc_border-top-style)
    var(--mixin-d9MmPgGp-dLc_border-top-color);
  border-right: var(--mixin-d9MmPgGp-dLc_border-right-width)
    var(--mixin-d9MmPgGp-dLc_border-right-style)
    var(--mixin-d9MmPgGp-dLc_border-right-color);
  border-bottom: var(--mixin-d9MmPgGp-dLc_border-bottom-width)
    var(--mixin-d9MmPgGp-dLc_border-bottom-style)
    var(--mixin-d9MmPgGp-dLc_border-bottom-color);
  border-left: var(--mixin-d9MmPgGp-dLc_border-left-width)
    var(--mixin-d9MmPgGp-dLc_border-left-style)
    var(--mixin-d9MmPgGp-dLc_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-e75EZxlJkP-4_color);
  padding-left: var(--mixin-e75EZxlJkP-4_padding-left);
  border-left: var(--mixin-e75EZxlJkP-4_border-left-width)
    var(--mixin-e75EZxlJkP-4_border-left-style)
    var(--mixin-e75EZxlJkP-4_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-xazBfHo16DyI_background);
  font-family: var(--mixin-xazBfHo16DyI_font-family);
  border-radius: var(--mixin-xazBfHo16DyI_border-top-left-radius)
    var(--mixin-xazBfHo16DyI_border-top-right-radius)
    var(--mixin-xazBfHo16DyI_border-bottom-right-radius)
    var(--mixin-xazBfHo16DyI_border-bottom-left-radius);
  padding: var(--mixin-xazBfHo16DyI_padding-top)
    var(--mixin-xazBfHo16DyI_padding-right)
    var(--mixin-xazBfHo16DyI_padding-bottom)
    var(--mixin-xazBfHo16DyI_padding-left);
  border-top: var(--mixin-xazBfHo16DyI_border-top-width)
    var(--mixin-xazBfHo16DyI_border-top-style)
    var(--mixin-xazBfHo16DyI_border-top-color);
  border-right: var(--mixin-xazBfHo16DyI_border-right-width)
    var(--mixin-xazBfHo16DyI_border-right-style)
    var(--mixin-xazBfHo16DyI_border-right-color);
  border-bottom: var(--mixin-xazBfHo16DyI_border-bottom-width)
    var(--mixin-xazBfHo16DyI_border-bottom-style)
    var(--mixin-xazBfHo16DyI_border-bottom-color);
  border-left: var(--mixin-xazBfHo16DyI_border-left-width)
    var(--mixin-xazBfHo16DyI_border-left-style)
    var(--mixin-xazBfHo16DyI_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-cVCfZgnMrhIx_display);
  flex-direction: var(--mixin-cVCfZgnMrhIx_flex-direction);
  align-items: var(--mixin-cVCfZgnMrhIx_align-items);
  justify-content: var(--mixin-cVCfZgnMrhIx_justify-content);
  list-style-position: var(--mixin-cVCfZgnMrhIx_list-style-position);
  padding-left: var(--mixin-cVCfZgnMrhIx_padding-left);
  position: var(--mixin-cVCfZgnMrhIx_position);
  list-style-type: var(--mixin-cVCfZgnMrhIx_list-style-type);
  flex-column-gap: var(--mixin-cVCfZgnMrhIx_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-DUOL4aFeAYUli_display);
  flex-direction: var(--mixin-DUOL4aFeAYUli_flex-direction);
  align-items: var(--mixin-DUOL4aFeAYUli_align-items);
  justify-content: var(--mixin-DUOL4aFeAYUli_justify-content);
  list-style-position: var(--mixin-DUOL4aFeAYUli_list-style-position);
  padding-left: var(--mixin-DUOL4aFeAYUli_padding-left);
  position: var(--mixin-DUOL4aFeAYUli_position);
  list-style-type: var(--mixin-DUOL4aFeAYUli_list-style-type);
  flex-column-gap: var(--mixin-DUOL4aFeAYUli_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-U--laBH-2NxI8_font-family);
  color: var(--mixin-U--laBH-2NxI8_color);
  font-size: var(--mixin-U--laBH-2NxI8_font-size);
  font-weight: var(--mixin-U--laBH-2NxI8_font-weight);
  letter-spacing: var(--mixin-U--laBH-2NxI8_letter-spacing);
  line-height: var(--mixin-U--laBH-2NxI8_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-WTVU_dorvFOQI_font-family);
  color: var(--mixin-WTVU_dorvFOQI_color);
  font-size: var(--mixin-WTVU_dorvFOQI_font-size);
  font-weight: var(--mixin-WTVU_dorvFOQI_font-weight);
  line-height: var(--mixin-WTVU_dorvFOQI_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-M4F3MaMi5Z2ng_color);
}
