.root {
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  background: #577ef5;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  display: inline-block;
  border-radius: 12px;
  padding: 15px 20px;
}
.rootunnamedVariant {
  background: #9057f5;
}
.root:hover {
  background: #577ef5;
}
