.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 20px 24px 96px;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    position: relative;
  }
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-height: 80vh;
  margin-top: 69px;
  min-width: 0;
  padding: 8px;
}
.freeBox___5ZSgy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1100px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.text__llRM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 48px;
  text-align: center;
  font-weight: 800;
  min-width: 0;
}
.freeBox__lD63W {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__bhDaz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 13px;
  min-width: 0;
}
.text__iNlQa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 20px;
  text-align: center;
  min-width: 0;
}
.freeBox__qJkPs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1100px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.img__nrFzk {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  max-height: 90%;
  height: 600px;
  flex-shrink: 0;
}
.img__nrFzk > picture > img {
  object-fit: contain;
}
.img__nrFzk > .__wab_img-spacer > img {
  object-fit: contain;
}
.quickFacts {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 1100px;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .quickFacts {
    position: relative;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    min-width: 0;
    padding: 8px;
  }
}
.topicBox__gOeV2:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.topicBox__w9K72:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.topicBox__n2YYh:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.aNewWorld {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1100px;
  height: auto;
  max-width: 100%;
  margin-top: 70px;
  padding: 8px;
}
.columns__rw5To {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__rw5To > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.columns__rw5To > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 40px) * 7 / 12);
}
.columns__rw5To > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 40px) * 5 / 12);
}
.columns__rw5To > :global(.__wab_flex-container) > *,
.columns__rw5To > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__rw5To > :global(.__wab_flex-container) > picture > img,
.columns__rw5To
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rw5To {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rw5To > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 40px);
    width: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rw5To > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 40px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rw5To > :global(.__wab_flex-container) > *,
  .columns__rw5To > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__rw5To > :global(.__wab_flex-container) > picture > img,
  .columns__rw5To
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 40px;
  }
}
.column__pT46T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___6OppE {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  max-height: 600px;
}
.img___6OppE > picture > img {
  object-fit: contain;
}
.img___6OppE > .__wab_img-spacer > img {
  object-fit: contain;
}
.column__deXvI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___0Irva {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  text-align: left;
  font-weight: 900;
  margin-bottom: 15px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___0Irva {
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    font-size: 60px;
    min-width: 0;
  }
}
.text__rdyAx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rdyAx {
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
  }
}
.facts {
  position: relative;
  width: 1100px;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  display: none;
  padding: 8px;
  margin: 50px;
}
.facts > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
.facts > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .facts {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .facts > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__u7Ilb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__u8D6F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  text-align: left;
  font-weight: 900;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__u8D6F {
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    font-size: 60px;
    min-width: 0;
  }
}
.text__bonl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
.column__dLsLv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___6Yr5B {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.steps___8ZPc5:global(.__wab_instance) {
  position: relative;
  margin: 20px;
}
.steps__jHgGz:global(.__wab_instance) {
  position: relative;
}
.steps__v9Ag:global(.__wab_instance) {
  position: relative;
  margin: 20px;
}
.freeBox___3Zyx5 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1100px;
  height: auto;
  max-width: 100%;
  align-self: center;
  margin-top: 80px;
  display: none;
  padding: 8px;
}
.text__v1Hui {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 979px;
  font-size: 60px;
  text-align: center;
  min-width: 0;
}
.h2__g0Afl {
  margin-bottom: 20px;
  font-size: 24px;
}
.img__teyKb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 100%;
  height: 450px;
  margin-left: 16px;
  margin-right: 0px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 30px;
}
.img__teyKb > picture > img {
  object-fit: cover;
}
.img__teyKb > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__teyKb {
    align-self: center;
  }
}
.factoids {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  display: none;
  padding: 8px;
}
.dataOnBox__o6Ztm:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.dataOnBox__orjNu:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.dataOnBox__sJj0B:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.dataOnBox__woSW:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__jhzYe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1100px;
  min-width: 0;
  padding: 8px;
}
.columns__rWYnD {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__rWYnD > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
.columns__rWYnD > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rWYnD {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rWYnD > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___5QDsV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 16px;
}
.text___79EwX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  font-weight: 900;
  min-width: 0;
}
.text__znrp5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
.column__zMu0G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__oAdFn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns__pqP5 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__pqP5 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.columns__pqP5 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__pqP5 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 40px) * 6 / 12);
}
.columns__pqP5 > :global(.__wab_flex-container) > *,
.columns__pqP5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__pqP5 > :global(.__wab_flex-container) > picture > img,
.columns__pqP5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pqP5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pqP5 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pqP5 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 40px) * 12 / 12);
  }
}
.column__af6I6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.heroButton___11VA:global(.__wab_instance) {
  position: relative;
}
.text__jgoOh {
  padding-right: 0px;
}
.text__wCHpb {
  height: auto;
}
.text__qQSbE {
  color: #577ef5;
  font-weight: 600;
}
.column__mc4Nh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.heroButton__rRoFn:global(.__wab_instance) {
  position: relative;
}
.text__cbulS {
  padding-right: 0px;
}
.text__fvVip {
  height: auto;
}
.text__gHoH5 {
  color: #577ef5;
  font-weight: 600;
}
.freeBox___52Py2 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px 24px 24px;
}
.heroButton__eqhq:global(.__wab_instance) {
  position: relative;
}
.text___6Q7Dr {
  padding-bottom: 0px;
}
.text__f3Q3P {
  padding-right: 0px;
}
.text__mHDiX {
  height: auto;
}
.text__tiNf {
  color: #577ef5;
  font-weight: 600;
}
.freeBox___5RZnw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
  flex-wrap: wrap;
  max-width: 1100px;
  width: auto;
  padding: 8px;
  margin: 50px;
}
.text___0Dprc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 979px;
  font-size: 60px;
  text-align: left;
  min-width: 0;
}
.h2__afIpa {
  text-align: center;
  font-size: 24px;
  margin: 0px 0px 20px;
}
.text__awzEm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
  min-width: 0;
}
.teamBox:global(.__wab_instance) {
  position: relative;
}
.cta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
